header{
    display: flex;
    justify-content: space-between;
}

section{
    width: 421px;
    height: 98px; 
    margin-top: 100px;   
}

.papa{
    width: 600px;
    height: 460px;
}

.zzz{
    color: grey;
    font-size: 19px;
}

.bola{
    width: 197px;
    height: 49px ;
    background-color: black;
    border-radius: 55px;
}

.bbb{
    color: white;
    text-align: center;
    margin-top: 30px;
    font-size: 17px;
}

.bola:hover{
    background-color: blue;
}

.rrr{
    margin-left: 800px;
    scale: calc(1,5);
}

.ota{
    width: 1250px;
    height: 900px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    gap: 50px;
    margin: auto;
}

.box{
    width: 380px;
    height: 380px;
    background-color: #E7E7E7;
    justify-content: space-around;
    border-radius: 20px;
}

.box:hover{
    background-color: #5A98F2;
}

.ooo{
    font-size: 45px;
}

h1{
    font-size: 35px ;
}

h5{
    font-size: 24px;
    color: black;
}

h5:hover{
    color: white;
}

p:hover{
    background-color: white;
}

button{
    width: 200px;
    height: 56.74357604980469px;
    border-radius: 55px;
    margin: auto;
    border: #458FF6 solid;
}

.uu{
    font-size: 18px;
}